*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1{
  text-align: center;
  padding: 35px 0px 50px;
  font-size: 2.8rem;
  color: rgb(229, 49, 112);
}

p{
  text-align: center;
  font-size: 1.2rem;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
} 


/* TEAM CARDS */

.row .col {
  background-color: rgb(15, 14, 23);
  height: 113px;
  width: calc((100% - 70px) / 3);
  float: left;
  margin-top: 50px;
  box-shadow: 0px 0px 3px 3px rgba(105, 105, 105, 0.3);
}

.row .col:nth-child(2) {
  margin-right: 35px;
  margin-left: 35px;
}

.row .col {
  color: white;
}

.row .col img{
  height: 100%;
  vertical-align: middle;
  float: left;
}

.row .col span{
  display: inline-block;
}

.row .col span:first-child {
  font-size: 1.5rem;
  font-weight: 600;
}

.row .col .info {
  display: inline-block;
  padding: 30px 3px;
}
